@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}

@section Styles {
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/vendor/fonts/circular-std/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/libs/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css" asp-append-version="true">

}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web.Mercury</title>
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/vendor/fonts/circular-std/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/libs/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css" asp-append-version="true">

</head>

<div class="splash-container">
    <div class="card ">
            <div class="card-body">
                <div class="card-header text-center"><img class="logo-img" src="~/assets/images/logo.png" alt="logo" width="150" height="42"><span class="splash-description">Por favor ingrese su información para el registro de usuario.</span></div>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">                       
                        <div class="row mt-4">
                            <div class="col-sm-12">
                                <div class="mb-9">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />                                    
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="mb-9">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="mb-9">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />                                    
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-12">
                                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                            </div>
                        </div>
                    </form>
                </div>    
            </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
